@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    overflow-x: hidden;
}

body {
    display: flex;
}

#main {
    width: 100%;
    height: 100vh;
    background-color: rgb(5,5,5);
    position: relative;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 50px;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    width: 215px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nine-dots, #nine-dots-nav {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#nine-dots-hover {
    font-family: arial,sans-serif;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    border-radius: 5px;
    background-color: rgb(54,58,60);
    width: 90px;
    height: 26px;
    top: 50px;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: 0.1s opacity;
}

#nine-dots-nav:hover {
    background-color: rgba(185, 185, 185, 0.1);
}

#nine-dots-nav:hover #nine-dots-hover {
    transition-delay: 0.6s;
    opacity: 1;
}

#nine-dots.active #other-apps {
    display: grid;
}

#nine-dots-nav > img {
    width: 16px;
    filter: invert(90%);
}

nav > a p {
    font-family: arial,sans-serif;
    color: white;
    font-size: 13px;
    font-weight: 500;
}

#google-account {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#google-account-nav {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.google-account-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#google-account-hover {
    font-family: arial,sans-serif;
    position: absolute;
    padding: 0 8px;
    top: 50px;
    right: -10px;
    width: 170px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(54,58,60);
    font-size: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    opacity: 0;
    transition: 0.1s opacity;
}

#google-account-nav:hover #google-account-hover {
    transition-delay: 0.6s;
    opacity: 1;
}

#google-account-hover > p:nth-child(1) {
    padding: 2px 0;
    font-weight: bolder;
}

#google-account-hover > p:nth-child(2), #google-account-hover > p:nth-child(3) {
    padding: 1px 0;
    opacity: 0.7;
}

#google-account-nav:hover {
    background-color:rgba(185, 185, 185, 0.1);
}

#google-account.active #gmail-accounts {
    display: flex;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#container {
    width: 600px;
    height: 500px;
    margin-top: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container svg {
    /* filter: brightness(100000%); */
    margin-bottom: 38px;
}

#input-box {
    min-width: 93%;
    height: 44px;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 25px;
    display: flex;
}

#input-box > input {
    flex-basis: 78%;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
} 

.input-image {
    flex-basis: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-input-image img {
    width: 22px;
}

.left-input-image img {
    width: 15px;
    filter: invert(30%);
}

#bookmarks {
    width: 100%;
    height: 250px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(112px, 112px));
    grid-auto-rows: min-content;
    justify-content: center;
    align-items: center;
}

.item-wrapper {
    position: relative;
    border-radius: 5px;
}

.item {
    width: 112px;
    height: 112px;
    display: flex;
    border-radius: 5px;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.item:hover {
    background-color: rgba(185, 185, 185, 0.1);
}

.more-actions {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: 5px;
    transition: 0.1s;
    cursor: pointer;
}

.item-wrapper:hover .more-actions {
    display: flex;
}

.more-actions:hover {
    background-color: rgba(185, 185, 185, 0.1);
}

.more-actions img {
    width: 16px;
    filter: invert(90%);
}

.item-icon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-icon img {
    width: 24px;
}

.item-title {
    width: 95%;
    height: 35px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.options {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 125px;
    height: 86px;
    border-radius: 5px;
    background-color: rgb(45,46,49);
}

.options.active {
    display: flex;
    z-index: 11;
}

.options > p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 36px;
    color: rgb(233, 233, 233);
    font-size: 13px;
}

.options > p:hover {
    background-color: grey;
    cursor: pointer;
}

.edit-shortcut {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -133px;
    margin-left: -255px; 
    width: 510px;
    height: 266px;
    background-color: rgb(41,42,45);
    border-radius: 8px;
    z-index: 11;
    padding: 20px;
}

.edit-shortcut > input {
    width: 100%;
    background-color: rgb(29,29,31);
    margin-top: 8px;
    border-radius: 5px;
    border: none;
    height: 25px;
    padding: 0 10px;
    color: white;
}

.edit-shortcut > input:focus {
    outline: 1px solid rgb(138,180,248);
}

.edit-title {
    color: rgb(230, 230, 230);
    font-size: 15px;
}

.edit-name, .edit-url {
    color: rgb(165, 165, 165);
    font-size: 10px;
}

.edit-name {
    padding-top: 15px;
}

.edit-url {
    padding-top: 20px;
}

.edit-shortcut-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.edit-button {
    width: 70px;
    height: 32px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.edit-cancel-button {
    width: 75px;
    margin-right: 10px;
    border: 1px solid grey;
    color: rgb(138,180,248);
    background-color: rgb(41,42,45);
}

.edit-cancel-button:hover {
    background-color: rgb(79, 81, 87);
}

.edit-done-button {
    border: none;
    color: rgb(41,42,45);
    background-color: rgb(138,180,248);
}

.edit-done-button:hover {
    background-color: rgb(113, 165, 250);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 64px;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.popup-wrapper, #edit-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

#edit-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-wrapper.active, #edit-wrapper.active {
    display: block;
}

#edit-page {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#edit-page:hover {
    background-color: rgba(185, 185, 185, 0.1);
}

#edit-page img {
    filter: invert(100%);
    width: 16px;
}

#gmail-accounts {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 0;
    border-radius: 28px;
    width: 376px;
    height: 544px;
    background-color: rgb(45,47,49);
    font-family: 'Roboto', sans-serif;
    z-index: 5;
    cursor: default;
}

#accounts, #no-accounts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 28px;
    width: 360px;
    height: 445px;
    margin: 8px 8px 0 8px;
}

#no-accounts {
    display: none;
    padding: 24px;
    text-align: center;
}

#no-accounts > p {
    margin: 36px 0;
    font-size: 24px;
    color: white;
    line-height: 0.8;
}

.no-accounts-sign-in {
    width: 100px;
    font-size: 14px;
    border: 1px solid #e3e3e37c;
    color: white;
    text-align: center;
    padding: 7px;
    border-radius: 10px;
    font-weight: 600;
}

.no-accounts-sign-in:hover {
    background-color: rgba(114, 114, 114, 0.2);
    cursor: pointer;
}

.main-account {
    width: 100%;
    height: 33%;
    background-color: rgb(31,31,31);
    border-radius: 28px 28px 4px 4px;
    display: flex;
}

.ma-left {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.account-image {
    width: 68px;
    height: 68px;
    margin: 20px;
    border-radius: 50%;
    position: relative;
}

.account-image > img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
}

.change-account-image {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: rgb(31,31,31);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-account-image img {
    padding: 2px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.377);
    width: 24px;
    height: 24px;
    filter: invert(10000%);
}

.change-account-image img:hover {
    background-color: rgba(114, 114, 114, 0.2);
}

.ma-right {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #e3e3e3;
}

.ma-right a {
    color: #e3e3e3;
}

.ma-right a:hover {
    text-decoration: none;
}

.email-info :nth-child(1) {
    font-size: 14px;
}

.email-info :nth-child(2) {
    font-size: 12px;
    padding-top: 2px;
    color: rgba(255, 255, 255, 0.651);
}

.manage-account {
    width: 220px;
    font-size: 14px;
    border: 1px solid #e3e3e37c;
    text-align: center;
    padding: 7px;
    border-radius: 10px;
    font-weight: 600;
}

.manage-account:hover {
    background-color: rgba(114, 114, 114, 0.2);
}

.other-accounts {
    margin-top: 2px;
    width: 100%;
    height: 66%;
    background-color: rgb(31,31,31);
    border-radius: 4px 4px 28px 28px;
    display: flex;
    flex-direction: column;
}

#sign-out {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: white;
    border-bottom: 1px solid rgba(223, 223, 223, 0.233);
}

#sign-out:hover {
    cursor: pointer;
    background-color: rgba(114, 114, 114, 0.2);
}

.sign-out-image {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-out-image img {
    width: 18px;
    filter: brightness(100000%);
}

#sign-out:hover {
    background-color: rgb(55,59,65);
}

#accounts-extra {
    border-radius: 0 0 28px 28px;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#accounts-extra a {
    text-decoration: none;
}

#accounts-extra span, #accounts-extra p {
    padding: 6px 10px;
    font-size: 12px;
    color: white;
}

#accounts-extra span:hover {
    border-radius: 4px;
    background-color: rgb(55,59,65);
}

.alt-accounts-container {
    display: flex;
    flex-direction: column;
    flex-basis: 85%;
}

.alt-account {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    color: #e3e3e3;
}

.alt-account:hover {
    background-color: rgb(55,59,65);
    cursor: pointer;
}

.alt-image {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alt-image img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #e3e3e37c;
}

.add-account-container {
    flex-basis: 15%;
    border-radius: 0 0 28px 28px;
    display: flex;
    align-items: center;
}

.add-account-container:hover {
    background-color: rgb(55,59,65);
    cursor: pointer;
}

.add-account-image {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-account-image img {
    width: 24px;
    filter: invert(90%);
}

.add-account-container p {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

#other-apps {
    display: none;
    grid-template-columns: repeat(3, 95px);
    grid-template-rows: repeat(6, 100px);
    position: absolute;
    top: 55px;
    right: -50px;
    width: 310px;
    height: 420px;
    border-radius: 8px;
    padding: 15px 8px;
    background-color: rgb(45,46,48);
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: default;
    z-index: 5;
}

#other-apps a {
    text-decoration: none;
}

#other-apps::-webkit-scrollbar {
    width: 16px;
}

#other-apps::-webkit-scrollbar-track {
    border-radius: 8px;
    margin-block: .2em;
}

#other-apps::-webkit-scrollbar-thumb {
    border-radius: 8px;
    min-height: 50px;
    background-clip: padding-box;
    box-shadow: none;
    border: 4px solid rgb(45,46,48);
    background: rgb(95,99,104);
}

#other-apps::-webkit-scrollbar-track {
    background-color: rgb(45,46,48);
}

.app-item {
    width: 84px;
    height: 84px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.app-item:hover {
    background-color: rgb(40,41,44);
}

.app-item p {
    padding: 12px 0 6px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: white;
}


/* Customize Box */

#customize-container {
    width: 600px;
    height: 100vh;
    background-color: black;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#customize-container.active {
    display: flex;
}

#customizer {
    width: 420px;
    height: 95vh;
    background-color: rgb(32,33,36);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}


#customize-nav {
    width: 100%;
    height: 40px;
    border-radius: 5px 5px 0 0;
    background-color: rgb(41,42,45);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
}

.c-nav-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.c-nav-title > img {
    width: 16px;
    filter: invert(100%);
    opacity: 0.8;
}

.c-nav-title > p {
    padding-left: 10px;
}

.c-nav-exit {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}


.c-nav-exit img {
    width: 16px;
    filter: invert(50%);
}

.c-nav-exit:hover {
    transition: all 0.2s;
    background-color: rgb(55,57,60);
    cursor: pointer;
}

#customize-appearance {
    width: 100%;
    height: 300px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

#customize-appearance > p {
    font-size: 13px;
    font-weight: 700;
    color: white;
}

#customize-appearance a .chrome-store {
    color: black;
}

.chrome-store {
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(138,180,248);
    font-size: 13px;
    border-radius: 4px;
}

.chrome-store img {
    width: 16px;
    filter: invert(100%);
}

.chrome-store p {
    padding-left: 8px;
}

.themes {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.theme {
    width: 72px;
    height: 72px;
    border-radius: 10px;
    cursor: pointer;
}

.theme.active {
    border: 2px solid rgb(138,180,248);
    filter: brightness(200%);
}

.theme:hover {
    transition: all 0.1s;
    filter: brightness(200%);
}

#customize-shortcuts {
    width: 100%;
    height: 250px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

#customize-shortcuts > p {
    font-size: 13px;
    font-weight: 700;
    color: white;
}

.show-shortcuts {
    width: 250px;
    margin-top: 24px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    color: white;
}

.shortcut-toggle {
    position: relative;
    width: 40px;
    height: 14px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(85,106,142);
}

.shortcut-circle {
    position: absolute;
    top: -3px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(138,180,248);
    transition: all 0.5s;
    transform: translate(100%);
}

.shortcut-circle.disabled {
    transition: all 0.5s;
    transform: translate(0%);
}