@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    overflow-x: hidden;
}

#main {
    width: 100%;
    height: 100vh;
    background-color: rgb(5,5,5);
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 50px;
    /* background-color: red; */
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    width: 215px;
    height: 50px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nine-dots {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#nine-dots:hover {
    background-color: rgba(185, 185, 185, 0.1);
}

#nine-dots img {
    width: 16px;
    filter: invert(90%);
}

nav > a p {
    font-family: arial,sans-serif;
    color: white;
    font-size: 13px;
    font-weight: 500;
}

#google-account {
    width: 32px;
    height: 32px;
    background-image: url(images/MoraineLake2.jpg);
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

#google-account:hover {
    box-shadow: 0px 0px 0px 4px rgba(185, 185, 185, 0.1);
}

nav p:hover {
    text-decoration: underline;
}

section {
    width: 100%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
}

#container {
    width: 600px;
    height: 500px;
    margin-top: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container svg {
    /* filter: brightness(100000%); */
    margin-bottom: 38px;
}

#input-box {
    min-width: 93%;
    height: 44px;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 25px;
    display: flex;
}

#input-box > input {
    flex-basis: 78%;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
} 

.input-image {
    flex-basis: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-input-image img {
    width: 22px;
}

.left-input-image img {
    width: 15px;
    filter: invert(30%);
}

#bookmarks {
    width: 100%;
    height: 250px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(112px, 112px));
    grid-auto-rows: min-content;
    justify-content: center;
    align-items: center;
}

.item-wrapper {
    position: relative;
    border-radius: 5px;
}

.item {
    width: 112px;
    height: 112px;
    display: flex;
    border-radius: 5px;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.item:hover {
    background-color: rgba(185, 185, 185, 0.1);
}

.more-actions {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: 5px;
    transition: 0.1s;
    cursor: pointer;
}

.item-wrapper:hover .more-actions {
    display: flex;
}

.more-actions:hover {
    background-color: rgba(185, 185, 185, 0.1);
}

.more-actions img {
    width: 16px;
    filter: invert(90%);
}

.item-icon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-icon img {
    width: 24px;
}

.item-title {
    width: 95%;
    height: 35px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.options {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 125px;
    height: 86px;
    border-radius: 5px;
    background-color: rgb(45,46,49);
}

.options.active {
    display: flex;
    z-index: 11;
}

.options > p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 36px;
    color: rgb(233, 233, 233);
    font-size: 13px;
}

.options > p:hover {
    background-color: grey;
    cursor: pointer;
}

.edit-shortcut {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -133px;
    margin-left: -255px; 
    width: 510px;
    height: 266px;
    background-color: rgb(41,42,45);
    border-radius: 8px;
    z-index: 11;
    padding: 20px;
}

.edit-shortcut > input {
    width: 100%;
    background-color: rgb(29,29,31);
    margin-top: 8px;
    border-radius: 5px;
    border: none;
    height: 25px;
    padding: 0 10px;
    color: white;
}

.edit-shortcut > input:focus {
    outline: 1px solid rgb(138,180,248);
}

.edit-title {
    color: rgb(230, 230, 230);
    font-size: 15px;
}

.edit-name, .edit-url {
    color: rgb(165, 165, 165);
    font-size: 10px;
}

.edit-name {
    padding-top: 15px;
}

.edit-url {
    padding-top: 20px;
}

.edit-shortcut-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.edit-button {
    width: 70px;
    height: 32px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.edit-cancel-button {
    width: 75px;
    margin-right: 10px;
    border: 1px solid grey;
    color: rgb(138,180,248);
    background-color: rgb(41,42,45);
}

.edit-cancel-button:hover {
    background-color: rgb(79, 81, 87);
}

.edit-done-button {
    border: none;
    color: rgb(41,42,45);
    background-color: rgb(138,180,248);
}

.edit-done-button:hover {
    background-color: rgb(113, 165, 250);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 64px;
    /* background-color: aqua; */
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.popup-wrapper, #edit-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

#edit-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-wrapper.active, #edit-wrapper.active {
    display: block;
}

#edit-page {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#edit-page:hover {
    background-color: rgba(185, 185, 185, 0.1);
}

#edit-page img {
    filter: invert(100%);
    width: 16px;
}